name: Build_mt7981_rax3000m

on: 
  repository_dispatch:
  workflow_dispatch:

# 定时触发编译
  schedule:
    - cron: 25 5 * * 5

# 点赞☆Star触发编译
#  watch:
#    types: [started]

jobs:
  Build_mt7981_rax3000m:
    runs-on: ubuntu-22.04
    steps:
    - name: Clone Repository
      uses: actions/checkout@v4

      # 检查磁盘并挂载最大磁盘
    - name: Find and mount largest disk
      run: |
          # 查看所有磁盘和挂载点
          df -h
          # 使用 lsblk 或者 df 查找最大磁盘
          largest_disk=$(lsblk -o NAME,SIZE,MOUNTPOINT | grep -vE 'MOUNTPOINT|/dev/loop' | sort -k2 -h | tail -n 1 | awk '{print $1}' | sed 's/^[^a-zA-Z0-9]*//g')
          echo "Largest disk is /dev/$largest_disk"
          
          # 创建挂载点
          sudo mkdir -p /mnt/openwrt
          
          # 确保目录权限正确
          sudo chown -R $USER:$USER /mnt/openwrt
          
          # 挂载最大磁盘到 /mnt/openwrt
          sudo mount /dev/$largest_disk /mnt/openwrt
          
          # 验证挂载成功
          df -h /mnt/openwrt
          
          # 如果需要永久挂载，可以修改 fstab
          echo "/dev/$largest_disk /mnt/openwrt ext4 defaults 0 2" | sudo tee -a /etc/fstab


    - name: Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo -E swapoff -a
        sudo -E rm -f /swapfile
        # docker rmi `docker images -q`
        sudo -E apt-mark hold grub-efi-amd64-signed
        sudo -E apt -y purge azure-cli* docker* ghc* zulu* llvm* firefox google* dotnet* powershell* openjdk* mysql* php* mongodb* dotnet* snap*
        sudo -E rm -rf /usr/share/dotnet /etc/mysql /etc/php /etc/apt/sources.list.d /usr/local/lib/android
        sudo -E apt update
        sudo -E apt -y upgrade
        sudo -E apt -y full-upgrade
        sudo -E apt install -y libnuma-dev libfdt-dev libtorrent-rasterbar-dev clang golang rustc cargo m4 babeltrace libunwind-dev texinfo binutils binutils-gold liblzma-dev libzstd-dev autoconf automake ack antlr3 asciidoc autoconf automake autopoint binutils bison build-essential bzip2 ccache cmake cpio curl device-tree-compiler fastjar flex gawk gettext gcc-multilib g++-multilib git gperf haveged help2man intltool libc6-dev-i386 libelf-dev libfuse-dev libglib2.0-dev libgmp3-dev libltdl-dev libmpc-dev libmpfr-dev libncurses5-dev libncursesw5-dev libpython3-dev libreadline-dev libssl-dev libtool lrzsz mkisofs msmtp ninja-build p7zip p7zip-full patch pkgconf python3 python3-pyelftools python3-setuptools qemu-utils rsync scons squashfs-tools subversion swig texinfo uglifyjs upx-ucl unzip vim wget xmlto xxd zlib1g-dev
         sudo -E apt -y install re2c indent libattr1-dev libdebuginfod-dev libiptc-dev rpm gfortran diffstat ack antlr3 asciidoc autoconf automake autopoint binutils bison build-essential bzip2 ccache cmake cpio curl device-tree-compiler fastjar flex gawk gettext gcc-multilib g++-multilib git gperf haveged help2man intltool libc6-dev-i386 libelf-dev libfuse-dev libglib2.0-dev libgmp3-dev libltdl-dev libmpc-dev libmpfr-dev libncurses5-dev libncursesw5-dev libpython3-dev libreadline-dev libssl-dev libtool lrzsz mkisofs msmtp ninja-build p7zip p7zip-full patch pkgconf python3 python3-pyelftools python3-setuptools qemu-utils rsync scons squashfs-tools subversion swig texinfo uglifyjs upx-ucl unzip vim wget xmlto xxd zlib1g-dev build-essential git wget curl unzip bzip2 xz-utils flex bison gawk libc6-dev libncurses5-dev libncursesw5-dev libssl-dev zlib1g-dev libtool python3 python3-pip python3-setuptools
         sudo -E apt -y autoremove --purge
         sudo -E systemctl daemon-reload
        sudo -E apt clean
        sudo -E timedatectl set-timezone "Asia/Shanghai"
        git config --global user.name 'GitHub Actions' && git config --global user.email '${{ secrets.GH_MAIL }}'
        
    - name: Clone source code
      working-directory: /mnt/openwrt
      env: 
        REPO_URL: https://github.com/coolsnowwolf/lede
      run: |
        git clone $REPO_URL openwrt
        cd openwrt
        # cp -f ../DIY/diy1.sh ./
        wget https://raw.githubusercontent.com/mzwrt/MZwrt-RAx3000m-nand-Lite-lede/refs/heads/main/DIY/diy1.sh
        chmod +x ./diy1.sh && ./diy1.sh

    - name: Update & Install feeds
      working-directory: /mnt/openwrt/openwrt
      run: |
        ./scripts/feeds update -a
        ./scripts/feeds install -a

        wget https://raw.githubusercontent.com/mzwrt/MZwrt-RAx3000m-nand-Lite-lede/refs/heads/main/DIY/diy2.sh
        chmod +x ./diy2.sh && ./diy2.sh
        
    - name: Configuration Customization - Build_mt7981_rax3000m
      env:
        CONFIG_FILE: './config/rax3000m.config'
      run: |
        # [ -e $CONFIG_FILE ] && mv $CONFIG_FILE ./openwrt/.config
        wget https://raw.githubusercontent.com/mzwrt/MZwrt-RAx3000m-nand-Lite-lede/refs/heads/main/config/rax3000m.config
        mv rax3000m.config .config
        cd openwrt && make defconfig
        
    - name: Download package
      working-directory: /mnt/openwrt/openwrt
      run: |
        echo "======================="
        echo "Space usage:"
        echo "======================="
        df -h
        echo "======================="
        
        make download -j16
        find dl -size -1024c -exec ls -l {} \;
        find dl -size -1024c -exec rm -f {} \;

    - name: Build firmware
      working-directory: /mnt/openwrt/openwrt
      run: |
        echo "======================="
        echo "Space usage:"
        echo "======================="
        df -h
        echo "======================="
        pwd
        echo "======================="
        make -j$(nproc) || make -j1 V=99

        echo "======================="
        echo "Space usage:"
        echo "======================="
        df -h
        echo "======================="
        du -h --max-depth=1 ./ --exclude=build_dir --exclude=bin
        du -h --max-depth=1 ./build_dir
        du -h --max-depth=1 ./bin


    - name: Generate Tag & Release Name
      id: generate_name
      run: |
        time=$(date +%Y%m%d%H%M%S)
        release_tag="$time"
        release_name="MzWrt-CMCC-RAX3000M-$(date +%Y%m%d)"
        echo "RELEASE_TAG=$release_tag" >> $GITHUB_OUTPUT
        echo "RELEASE_NAME=$release_name" >> $GITHUB_OUTPUT

    - name: Create versioned release directory
      working-directory: /mnt/openwrt/openwrt
      run: |
        mkdir -p ./artifact/${{ steps.generate_name.outputs.RELEASE_NAME }}/
        cp -r ./bin/targets/mediatek/filogic/*.bin ./artifact/${{ steps.generate_name.outputs.RELEASE_NAME }}/
        # 在指定路径下找到所有以 openwrt 开头的文件，并替换文件名中的 openwrt 为 MzWrt
        find ./artifact/${{ steps.generate_name.outputs.RELEASE_NAME }}/ -type f -name "openwrt*" -exec bash -c '
          for file; do
            new_name="${file//openwrt/MzWrt}"
            mv "$file" "$new_name"
        done
        ' bash {} +

        # 过滤出以 .bin 结尾的行，并将 openwrt 替换为 mzwrt
        sha256sums_content=$(grep '\.bin' ./bin/targets/mediatek/filogic/sha256sums | sed 's/openwrt/mzwrt/g' | sed 's/\(.*\) \*\(.*\)/\2=\1/')

        # 将修改后的内容保存为 GitHub 环境变量
        echo "sha256sums=$sha256sums_content" >> $GITHUB_ENV

    - name: Upload Firmwares
      uses: actions/upload-artifact@main
      with:
        name: CMCC-RAX3000M-OpenWrt
        path: /mnt/openwrt/openwrt/artifact/${{ steps.generate_name.outputs.RELEASE_NAME }}/*

    - name: Create Release & Upload
      uses: ncipollo/release-action@v1.14.0
      with:
        artifacts: /mnt/openwrt/openwrt/artifact/${{ steps.generate_name.outputs.RELEASE_NAME }}/*
        name: ${{ steps.generate_name.outputs.RELEASE_NAME }}
        tag: ${{ steps.generate_name.outputs.RELEASE_TAG }}
        body: |
         CMCC-RAX3000M-nand
        token: ${{ secrets.GITHUB_TOKEN }}
